body {
    background-color: white;
    color: black;
    font-size: 12pt;
    line-height: 1.3;
}

.main-nav, 
.sidebar, 
footer, 
#hc-toggle,
.video-section video,
.skip-link {
    display: none !important;
}

img {
    max-width: 60% !important;
    height: auto;
    page-break-inside: avoid;
}

.main-header {
    background: none;
    color: black;
    padding: 0;
    text-shadow: none;
    border-bottom: 2px solid black;
}

a:link::after, a:visited::after {
    content: " (" attr(href) ") ";
    font-size: 90%;
}

article, section {
    page-break-inside: avoid;
}